[2019-11-11 22:01] cowboyd opened #26 "Forks that throw immediately try to abort their parent while the parent is still running"
Take the following case:

[code]

This aborts with an error as expected, but the error is not super useful, since it does not actually contain the original exception, but rather a complaint about incorrect `Generator` states:

[code]

This is because when an exception occurs in a `Fork`, we catch it and then progressively call `throw` on the parent `Fork`s all the way up to the root fork (provided

[2019-11-11 22:09] cowboyd opened #27 "Track execution ids"
It's nice when debugging to see how forks relate to each other. The proposal is to add an `id` field to each fork as an increasing sequence.

[2019-11-11 23:15] cowboyd opened #28 "Ability yield to an Execution"
It's a commonly emerging pattern to be able fork off an operation that itself has several parallel forks within it. Then, at some later point, you want to wait until all the children are finished. An example of this is the [piping that happens in the bigtest proxy server][1]. There are two or three async operations copying data through the pipe, but once they're all finished only then do we want t

[2019-11-11 23:21] cowboyd opened #29 "Add a nice `toString()` method"
Effection actually makes debugging async processes pretty nice since everything is in a strict hierarchy. However, the default debug output is not helpful. What we really want is a nice, concise way to display a `Fork` when debugging.

[2019-11-11 23:21] cowboyd opened #30 "Add toJSON() method"
This will be very helpful when building visualizations of currently running Forks.

[2019-11-11 23:24] cowboyd opened #31 "Add `root` fork property to `Fork`"
We most often want to get the entire tree of a fork when debugging so that we can print it out from top to bottom.

[2019-11-13 15:29] jnicklas opened #33 "Forking a controller"
If I have a function which returns a controller, I currently have to write this:

[code]

It would be nice if there were some syntax sugar which would allow me to write:

[code]

With the exact same behaviour as above.

Yay or nay?

[2019-11-13 17:27] #27 closed

[2019-11-15 18:27] #31 closed

[2019-11-18 19:28] cowboyd opened #35 "Way to synchronize on async operations inside a halt()"
Sometimes you want to do asynchronous cleanup. For example, in `@bigtestjs/server` we would really like the parcel server halt code. Unfortunately, you cannot yield inside a generator that has already returned or thrown. We'd like the halt() to not be considered complete until some async code has run. e.g.

[code]

[2019-11-20 13:46] jnicklas opened #36 "Forks which conform to Promises/A+"
Fork objects can sort of act like promises, but it seems like this:

1) Only works for top level forks (I think?)
2) Does not actually conform to [Promises/A+](https://promisesaplus.com/)

In particular, the `then` method should be able to receive two functions, the second of which is called in the error case. I'm not sure if there are other issues. Making forks into proper promises would allow us

[2019-11-20 16:07] cowboyd commented on #36
I also ran into this recently when trying to write a test suite for GitHub Actions https://github.com/thefrontside/actions/blob/testing/test/helpers.ts#L70-L77

There was a lot of annoying glue code to adapt to a promise, and having any fork be `then-able` would be a nice enhancement. Some other benefits and thoughts to note:

1. We could probably unify the `then` model with the `join` method, wit

[2019-11-20 18:08] #36 closed

[2019-11-20 20:27] cowboyd commented on #33
Yes, very much so. It's becoming clearer that there is still something more primitive to uncover. I think that the controller might be it, and that what we really want to do is yield / fork to a controller, and in both cases, the process is resolving the thing into a controller.

In other words, when we see: `yield X`, we need to have a function `f(X) -> Controller` so that we're yielding to a con

[2019-11-20 20:35] cowboyd opened #42 "Run TypeScript tests separately from the rest of the Test Suite"
The TypeScript tests are very, very slow, and they don't need to be run while developing.

We should take them out of the normal test suite, and put them in a `test-types` directory, and run them with a `test:types` script that is executed on CI in a separate job (it should still block the merge)

[2019-11-25 22:18] #42 closed

[2019-11-26 12:15] jnicklas opened #50 "Running top level promises may terminate the node process early."
Given some code like this:

[code]

I'd expect this to *always* print `finish`, no matter how controller is implemented, but this is actually not the case! If controller doesn't do anything which creates a listener, then node will shut down before the controller has a chance to finish. This seems a bit surprising to me.

For example listening to an EventEmitter does *not* create a listener. Which

[2019-11-26 14:24] jnicklas commented on #26
I do think we need to find a solution to this as soon as possible. This issue is making debugging pretty painful, since it is very tricky to get the actual source of an exception. I was just facing such a situation where I'd spent half an hour trying to figure out why something was failing. I patched effection locally to run `resume` in the next tick and the error became obvious immediately.

The

[2019-12-10 00:49] cowboyd commented on #50
I think that node might be right in that there is no way that the code could actually ever run, because there is no native event OS event, timer, socket data, etc... that could ever run that would  trigger that event, so the process exits.

[2019-12-11 14:41] jnicklas commented on #50
Hmm probably. Let's close this then!

[2019-12-11 14:41] #50 closed

[2020-01-15 14:55] jnicklas commented on #35
Somewhat related to this: it should also be possible to yield to a halt. Ideally, I think, `halt` should return a promise, since we may also want to do this from outside of the effection world, e.g.:

[code]

[2020-01-15 15:00] jnicklas opened #61 "Rename Execution->Task?"
The thing that we are calling Execution which is currently returned by `fork` (but probably won't be eventually) is called a `Task` by many systems which are similar to Effection, e.g. Rust's standardlib and ember-concurrency.

It's both a shorter and less awkward name, and also imo reflects the nature of what it represents better.

[2020-01-15 21:53] cowboyd commented on #61
#57 splits `Execution (Fork)` into two objects, an `Context` and a `Controller`. Among other things, this alleviates some of the concerns that we had with

[code]

because now (at least in the typings) `child` is just an opaque object representing the execution context of the fork, and its only public method it has is `halt()`;

At least in Ember Concurrency, `Task` is a much higher level concept

[2020-01-16 09:16] jnicklas commented on #61
Either is fine to me really, maybe Task sounds a bit more specific than Context, which really could mean anything.

Here is some good info on the Rust concept of a task:

https://rust-lang.github.io/async-book/02_execution/03_wakeups.html

[2020-01-16 16:29] cowboyd commented on #61
I need to wrap my head around the Rust example since I'm not super fluent, but it does seem like there is also the concept of context there too?

My current preference for `Context` lies in the prediction that it will be used as a place to represent the tree and also hold state for user-created operations and effects. In other words, "operation takes place in a context"

Still, `Context` is vague

[2020-01-27 15:23] cowboyd opened #66 "Holistically rethink Effection's foundational analogy and nomenclature"
The new mechanics of effection are more on point: It's a tree of "node thingies" each of which is either running, or finished running because it encountered an error, it was explicitly halted, or it returned a result and there are no child "node thingies" which are still running. Anything that changes the state of these "node thingies" must be in the form of an operation that runs in the context o

[2020-01-27 15:27] cowboyd commented on #61
I like neither `Execution` or `ExecutionContext`, and `Task` feels more natural especially with the `spawn` primitive. However, I don't think we want to piece-meal this.

The API thus far has been artisanally and organically grown, but it's probably time to not just consider renaming one interface, but also renaming all the methods, and properties as well.

I've opened up #66 for a wider discussio

[2020-01-27 15:27] #61 closed

[2020-01-29 18:26] #26 closed

[2020-01-30 11:05] jnicklas opened #68 "Rename `main` and add a more oppinionated `main`."
So I was looking at some of the code in bigtest-server, and it struck me that whenever we bootstrap effection at the top level, we have to do a dance to attach a signal interrup handler and stuff. Not only is this annoying, it's also error prone, since there are some subtle details we could get wrong.

In the more comprehensive effection PR, @cowboyd added a `interrubtible` higher order operation(

[2020-01-30 16:47] cowboyd opened #69 "Should generator functions be allowed to catch exceptions in forked operations?"
One common pattern we have in effection is for one parent process to be a monitor / exception handler of its children. This is why the bigtest server main function body (approximately) looks like:

[code]

The idea here is that any error that happens in the orchestrator will fail the start function, which will cause it to be caught, printed out to the console, and then the process exits. However,

[2020-01-30 18:19] cowboyd opened #70 "What is the proper order of destruction for operations?"
While debugging bigtest server, it seemed to me that the order of destruction for effection operations that I observed in the event of an error or halt might not be ideal. For example, let's say that we have an execution tree with seven processes. These node can represent any stateful could process that contains other stateful process. For example, a websocket server that has active connections, t

[2020-01-30 19:07] cowboyd commented on #29
This is done with #57

[2020-01-30 19:07] #29 closed

[2020-01-30 19:09] cowboyd commented on #28
As of #57, you can now `join` an execution with the `join` operator:

[code]

[2020-01-30 19:09] #28 closed

[2020-01-30 19:11] cowboyd commented on #33
Closed by #57

`fork` is now an operation that takes any operation:

* `fork(new Promise())`
* `fork()`
* `fork(fork())`

are all valid forks.

[2020-01-30 19:11] #33 closed

[2020-01-30 19:23] cowboyd opened #71 "Convert effection into a multi-repo"
There are now a lot of add-on helper functions for using effection in different platforms. When using node, there are certain things that we need, when in the browser there are others, and there are some that are in both. Thus far, we have definite need of the following npm packages

* `@effection/events`
  * `on()`,
  * `monitorErrorsOn()`
* `@effection/node`
  * `main()`

And in the future, we c

[2020-01-30 19:23] cowboyd commented on #68
I agree whole-heartedly. I have yet to come across a effection program that I didn't want this installed. We could rename the current `main` -> `enter`, `spawn`, `start` or something.

I actually think we should go ahead and release a completely separate NPM package for `@effection/node` so that the code is never even bundled when you try and use it from a webpage, or from deno.

That means we nee

[2020-01-30 20:28] cowboyd opened #72 "Better diagnostic aids"
When something goes wrong, it would be nice to get a snapshot of the current running tree of effection processes that actually helps you. Right now, dumping out the bigtest tree is:

[code]

Which is not the most helpful. The problem is that most of the processes do not have identifiable information about them. ideally, the tree would look like:

[code]

Here at a glance, we can tell what is going

[2020-01-31 09:44] jnicklas commented on #70
To me, the order of destruction should definitely be for the child to "decomission" itself completely, that is I feel that the current behaviour is not what I'd expect.

I think this somewhat connects to the amount of isolation that a child has as well. I am somewhat apprehensive about guaranteeing that an error is raised up immediately when it occurrs. I think we cannot guarantee this in the gene

[2020-01-31 09:48] jnicklas commented on #68
Does  it need to be a separate package for it not to be loaded? Can't it just be a separate path to require? Or maybe this depends on how the tree shaking is implemented in the builder?

[2020-01-31 16:44] cowboyd commented on #68
In theory, it should not be necessary, but in practice, it's expected that NPM packages are shipped transpiled already into a format that can be used by the target platform. Tree shaking should be straightforward on the source, but when we distribute, we have to place it into `dist-node/index.js` and `dist-web/index.js` which is unreliable at best, impossible at worse to tree-shake.

In an ideal w

[2020-01-31 16:46] cowboyd commented on #68
Of course, it can be there if you never require it, and I don't think that would be a problem for most server side developer if there was web-only code shipped along with the package, but the reverse is not true. A very large segment of web developers care a lot about shipping code that will never run.

[2020-02-04 15:26] cowboyd commented on #69
After consideration, the consensus is that only an error in the operation to which a generator is yielding to should ever be thrown from that yield. If you want to implement error handling, then it should be done explicitly.

In other words, the original code sample _will not_ catch an error if the orchestrator fails, however, the following should:

[code]

[2020-02-04 15:26] #69 closed

[2020-02-11 12:47] jnicklas opened #76 "Should spawn create a child in the parent?"
When we are inside an operation, and we have received a `Controls`, then we have the ability to `spawn` a new context, this context is currently a child of the current operation, however I don't think this is ever what we want. In almost all cases, we actually want the spawned context to be a *sibling* of the current operation. This seems a bit a bit counterintuitive at first, but it makes sense i

[2020-02-11 14:21] jnicklas commented on #76
Maybe it would actually be sensible to have two separate methods, `spawnChild` and `spawnSibling`? At the moment I can't really come up with a use-case for spawning a child though.

[2020-02-11 14:40] cowboyd commented on #76
The only place I can see that you want to spawn in the current context is if your operation is serving in a supervisory role. So for example, if you have one operation that manages 10 operations, restarting them at appropriate times, then you want to be spawning children, but for most "atomic" operations what you really want, as you say, is to be spawning siblings.

An example of spawning children

[2020-02-11 14:48] cowboyd commented on #76
If we do make `spawn` operate on the parent, then we also need to somehow make the parent `resume` and `fail` functions available from the spawn so that you can link the new sibling back to the parent.

[2020-02-12 09:43] jnicklas commented on #76
I think that our interface to the parent should be pretty limited. Being able to call `resume` on the parent seems dangerous. A child should be able to bubble up an error to its parent, but not change its return value, imo. Then we'd be sort of back to the behaviour of 0.4 where any child could randomly resume its parent, which I don't think is good.

[2020-02-12 09:43] jnicklas commented on #70
This can be closed now that #73 is merged.

[2020-02-12 09:43] #70 closed

[2020-02-24 22:16] cowboyd opened #78 "Throwing an error in an `ensure()` hook can leave effection tree in an unstable state"
It's a bug to have an error in a teardown callback, but effection currently does not catch this, which ends up blowing up the entire teardown process leaving the tree in an inconsistent state.

We should catch errors like this and write a critical warning to the console.

[2020-03-05 14:56] #78 closed

[2020-03-12 13:21] jnicklas opened #86 "Returning with an associated supended context makes it outlive its scope"
Sorry for the utterly confusing title, it's the best I could come up with.

This isn't really a bug in Effection, but rather a consequence of some of the design patterns we've started to adopt. Since I ran into this a few times and it is potentially very confusing, I thought it best to actually document this somewhere so we can try to find a solution to it.

The problem occurrs if we're using the

[2020-03-12 21:46] cowboyd commented on #86
This is definitely a head scratcher, but this is a great explanation of the problem, and something we'll need to address we have to consider in future releases of Effection. I think there are two problems. The first is that every single operation runs in its own sandbox, and in retrospect, this feels draconian and the benefits of a simple implementation do not outweigh the costs of being difficult

[2020-03-12 22:12] cowboyd commented on #86
This brings up another question of composability (to which I don't have the answer) that you hinted at that I don't think goes away just by having a queue of operations running in a context, and that is how to feed inputs to the operations.

In other words, if we want to model a `fork` as a `spawn` + `join`, then how do we get the context created by `spawn` to the `join`? Maybe something like:

[c

[2020-03-13 09:58] jnicklas commented on #86
The tricky part about not creating a new context for operations is that it weakens the structured concurrency guarantees, I think. Right not we can guarantee that a context never "leaks" out of the function where it was created (`suspend` is an escape hatch to this behaviour). I think that composition will become way harder if we cannot guarantee this property.

It's interesting that there are so

[2020-03-13 21:57] cowboyd commented on #86
I see what you're saying, and I think that the key difference is that in order to run anything _concurrently_, you still must always create a child context. So the only way that an operation can "leak" something that continues to run after it is completed is to either `spawn` or `fork`, but by doing so those operations are bounded by the original context in which the operation was run.

[code]

If

[2020-03-27 13:20] jnicklas opened #88 "`fork` and `spawn` terminology is the wrong way around 🤔"
When I was working on #87 I realized something: our terminology is off. It makes sense since this all evolved organically since effection started, but with where we are headed now, I think it would make more sense for `fork` and `spawn` to swap names. Let me explain why:

Fork has a connotation of diverging paths, which might eventually merge. See the [fork-join model](https://en.wikipedia.org/wik

[2020-04-09 09:26] jnicklas opened #91 "Effection breaks when regenerator runtime is minified and thoughts about supervisors"
So our old issue with recognizing when a generator is a generator came up again :(

Currently we do this like this:

https://github.com/thefrontside/effection.js/blob/b8d72eefa6570f12a1767e5fcb6b29b5b1af4578/packages/effection/src/generator-function.js#L1-L5

But apparently, sometimes when regenerator-runtime is minified it will actually minify the constructor name as well. So our generator functi

[2020-04-09 09:30] jnicklas commented on #91
One  disadvantage of implementing this is that we currently support patterns like this:

[code]

This would now have to be written like this:

[code]

[2020-04-09 12:01] jnicklas opened #92 "Do iterators already provide everything we need?"
We were talking yesterday about this idea of using something like a continuation to represent the different stages that an execution context goes through. I spent some time thinking about this today, and I started to think that maybe this is all unnecessary. Do iterators already provide us with everything we need?

Let's walk through an example of an iterator:

[code]

This is the successful case:

[2020-04-09 22:18] cowboyd commented on #92
I think the main thing we need is a way to stitch generators together into a coherent stack. I tried to write down some of these explorations here https://github.com/cowboyd/computation

[2020-04-11 23:55] cowboyd commented on #91
I think that if we assume that `supervise` will take arguments to be passed into the generator, then we can pass arguments to create server via supervise

[code]

Overall, I'm really excited about a new architecture that we can live with for a very long time. I've been thinking about this a lot over the weekend, and I think that there are some new universal constraints we should consider that will

[2020-04-16 17:18] cowboyd opened #94 "Express `ExecutionContext` lifecycle with a generator?"
We drive state changes in our effection apps with generators because they are so much clearer as to what's going on, but inside effection itself we use timed callback methods to assemble what is going on. It got me thinking that even if we don't use a unified mechanism, it would be much, much clearer if we could express the context procession as a generator (or maybe an async?) function:

[code]

[2020-04-27 22:34] minkimcello opened #111 "Effection Logo Proposal"
## Context
Effection could use a logo and Effection's [Discord channel](https://discord.gg/Ug5nWH8) gets buried very quickly with other discussion so I've decided to post a Github issue for it instead.

## Approach
*Disclaimer: Not a design person but we must do what we must do in these trying times... and also it's sort of fun.*
### Fundamentals
- Use Frontside brand colors.
- Incorporate six edg

[2020-04-28 08:33] jorgelainfiesta commented on #111
Looks great! My only observation would be that Affection's logo has rounded borders on the outline while none of the other logos do. Actually, none of the logos have any rounded corners but I'm not sure how the heart could be constructed with those constrains.

[2020-04-28 14:43] minkimcello commented on #111
@jorgelainfiesta Here's what sharp edges would look like (added up top too). And I made one with even rounder edges.

![edges](https://user-images.githubusercontent.com/29791650/80501077-00f09a80-893d-11ea-81fc-cc58dd52475b.png)

[2020-04-28 22:43] cowboyd opened #112 "REPL"
It would be awesome to have command prompt where you could input an operation, and then have that operation be evaluated and the result output to the console.

[2020-04-30 21:17] jorgelainfiesta commented on #111
The sharp edges look pretty weird. I like the rounder edges the best.

What if we did sharp edges only (even the internal ones)? might require adjusting a bit the shape of things.

[2020-05-01 13:05] minkimcello commented on #111
![edges v2](https://user-images.githubusercontent.com/29791650/80807341-f1ff2780-8b8a-11ea-9f8c-33fbb7e6a321.png)

[2020-05-08 15:31] cowboyd opened #118 "Should implicit wait for concurrent tasks be made explicit? i.e. should `fork` go away?"
The difference between `spawn` and `fork` is a subtle one, and I'm dreading having to write the tutorials that explains the _why_ of `spawn` vs `fork`. It's difficult to explain because `fork` does a lot of implicit magic.

The only difference between

[code]

and

[code]

Is that `withSpawn` will return `'done'` to its parent immediately, where as `withFork` will return `'done'` to its parent onl

[2020-05-26 15:29] jnicklas opened #127 "Synchronously spawned returned context gets halted"
If a context is spawned and returned from the parent context all within the same event loop tick that the parent context started, it will be halted. Here is a reproduction:

[code]

We would expect this to print:

[code]

But in fact it prints:

[code]

The only difference between `a` and `b` is the use of the timeout.

Replacing the timeout with some synchronous operation (e.g. `function() {}`) a

[2020-05-27 13:46] jnicklas commented on #71
This is done.

[2020-05-27 13:46] #71 closed

[2020-05-27 13:47] jnicklas commented on #76
With the advent of context returns and resources, this is no longer relevant.

[2020-05-27 13:47] #76 closed

[2020-05-27 13:48] jnicklas commented on #86
Context returns and resources have proven to be a solid solution to this problem. Closing.

[2020-05-27 13:48] #86 closed

[2020-05-29 14:22] cowboyd opened #130 "Rename `main` method to `run` or `enter` (or something else)"
Right now, there are two `main`s. One from `@effection/node` and another from `effection`, which is confusing. I think that `main` is the understood term as an entry point to an entire process, so `@effection/node` `main` should stay the same since that really is its purpose.

That means we really ought to come up with a better name for it in `effection` proper. I'm thinking that we should call it

[2020-06-03 09:35] jnicklas commented on #130
I like `run`, it feels very short and concise.

[2020-06-03 20:37] minkimcello commented on #111
I've been going back and forth with a designer regarding this logo. She created some rough drafts (there were a few others but I just picked the ones that were appropriate because not all of them fit the criteria):

<img width="673" alt="Screen Shot 2020-06-03 at 4 23 20 PM" src="https://user-images.githubusercontent.com/29791650/83685371-8f98ad00-a5b6-11ea-949f-e2d30e54f5cd.png">

Her feedback wa

[2020-06-04 18:39] cowboyd commented on #111
What if she were to experiment with an isometric view instead of top-down?

[2020-06-05 15:22] cowboyd commented on #130
@jnicklas I agree. Short, concise, and intuitive👍

@taras while technically you _can_, have several `run`s in a process tree since `run` would convert an operation into what amounts to a promise, you would never do it, since if you're already in an effection context, running a subtask is as simple as `yield`ing to an operation, and you get all the benefits of scoping and cancellation.

Where it co

[2020-06-05 15:23] cowboyd commented on #130
I'm going to update this with the [good first issue](https://github.com/thefrontside/effection/labels/good%20first%20issue) label if anybody wants to tackle it.

[2020-06-10 09:49] jnicklas opened #143 "Fluid interface for subscribable types?"
The `Subscribable` interface defines a minimal interface which a type must conform to in order to be subscribable. This means you can always use `Subscribable.from(...)` to get the nice chainable interface. However, while it shouldn't be mandatory, sometimes it would be nice to actually implement the full set of chainable operations on a type directly. As I'm porting channels to the new subscripti

[2020-06-10 09:50] jnicklas commented on #143
@cowboyd what do you think? I'm a bit torn on whether I feel that this is a good idea. It does make actually using subscribable types much more pleasant, but it also adds some overhead.

[2020-06-10 10:36] jnicklas opened #145 "Set up proper linting"
We currently just skip `lint` on all of the subpackages.

[2020-06-10 10:42] jnicklas commented on #143
An alternative is to provide `map` and `filter` and such as free functions as well:

[code]

[2020-06-11 10:05] jnicklas commented on #143
Wouldn't this be a bit odd? What does this do:

[code]

[2020-06-11 13:32] cowboyd commented on #143
I see. Yeah that would be weird. It only really makes sense in the case with separate types for send and receive.

[2020-06-12 18:15] cowboyd commented on #145
@minkimcello Is this something you'd be willing to help out with?

[2020-06-12 18:17] minkimcello commented on #145
@cowboyd sure

[2020-06-12 18:27] cowboyd opened #147 "Cannot cache subscription pipelines as object properties"
When refactor `@bigtest/atom` to use subscriptions, I noticed that if we created a subscription transform as an object property, it would throw a weird exception whenever you tried to derive new subscriptions off of it.

However, if you defined the _exact same_ subscription transform as a computed property, it worked just fine.

bad:
[code]

good:

[code]

I'm genuinely puzzled as to why one form

[2020-06-15 07:06] #145 closed

[2020-06-15 07:06] jnicklas commented on #145
Thanks @minkimcello!

[2020-06-16 14:46] minkimcello commented on #111
@cowboyd I asked the designer to sketch some isometric logos and she came back with these. Were these what you had in mind?

![IMG_8659](https://user-images.githubusercontent.com/29791650/84789794-a085ed00-afbe-11ea-89e2-9d2d483c8dfe.jpeg)

[2020-06-16 14:52] cowboyd commented on #111
They were indeed. Very cool indeed. I'd also love to see what they come up with completely free of any context from us other than our current set of logos. As in, are there any completely novel approaches to depicting the "emotive force of causation" coupled with love.

P.S.I wouldn't expect that they should work for free.

[2020-06-16 15:13] minkimcello commented on #111
Here are some of the other ones that she previously showed me. There was a bit of a miscommunication in the beginning by what we meant by "unifying" the logos so that's why she thought the Effection logo needed to be similar to the Frontside logo:
![IMG_8167](https://user-images.githubusercontent.com/29791650/84791971-57836800-afc1-11ea-9b20-88712497ec17.jpeg)

And some other ones that didn't foll

[2020-06-22 13:44] jnicklas opened #154 "Subscribables vs subscriptions"
When we first added subscriptions, we were anticipating on mostly working with `Subscribable` types, and not so much with `Subscription` types, so all of the convenience methods like `map` and `filter` work on subscribables. After working with subscriptions a bit, I think this was a mistake. The natural thing to work off of is a subscription. Sometimes there isn't even a subscribable.

I also real

[2020-06-23 14:32] pittst3r opened #157 "Change default branch to `main`"
Frontside has decided to move away from `master` branch verbiage in order to be more welcoming to all employees and contributors.

[2020-06-24 15:05] #154 closed

[2020-06-26 09:09] jnicklas opened #167 "Wrapping with `ChainableResource` strips resources"
There is a subtle bug in how #155 is implemented.

It is quite common to return a resource as a subscription, like this:

[code]

The problem comes in the way that the `subscribe` function is implemented in `@effection/subscription`. Somewhat simplified it boils down to:

[code]

The problem here is that the resource is bound to the context inside the subscribe function, and it is *not* returned f

[2020-06-26 09:10] jnicklas commented on #167
Having `ChainableSubscription` is *sooo* convenient, but I'm not sure what to do about this issue. Possible workarounds are a bit ugly.

[2020-06-26 16:21] cowboyd commented on #167
This is actually a problem we're going to have to solve long term in effection since a [similar dynamic is at play here](https://github.com/thefrontside/effection/pull/156#issuecomment-648283944). We need to have a wait to maintain resource chains, or "hand off" resource batons from user-space.

[2020-06-27 13:16] #167 closed

[2020-07-02 16:02] #157 closed

[2020-07-08 15:44] cowboyd opened #176 "make default `TReturn` of subscription `undefined`"
It's very common to use "infinite" streams that have the same lifetime as the operation that consumes them. In fact, in the wild thus far, this is more common than actually having a meaningful return value. It's a pain then to have the `Subscription` interface always need to specify two generic parameters, `T` and `TReturn` every time. If most of the time a subscription is infinite, then it probab

[2020-07-09 12:08] jnicklas commented on #176
Yes, please!

[2020-08-06 18:29] cowboyd opened #181 "Make tests run on windows"
For good cross platform support, we should make sure our tests run on windows

[2020-08-06 18:36] cowboyd opened #182 "Problems spawning processes in Windows"
When you spawn a child process in windows,

1. it does not die when you call process.kill
2. causes a separate window to open up every time

Potentially related https://stackoverflow.com/questions/32705857/cant-kill-child-process-on-windows ?

Consider using [execa] ?

[1]: https://github.com/sindresorhus/execa

[2020-08-20 08:39] taras commented on #182
execa looks like a good way to go. I tried cross-spawn and it doesn't support SIGTERM, hopefully execa does.

[2020-08-20 08:40] taras commented on #182
For reference https://github.com/nodejs/node/issues/12378

[2020-08-24 17:28] cowboyd opened #183 "Improve Subscription developer experience"
Over the last 6 weeks, we've had the opportunity to work with Subscriptions a lot and while it has on the whole been positive, it has also made clear that there are still a bunch of rough edges.

I've observed the following:

1. Transforming subscriptions on both sides of the `yield` is desirable. There are cases where it just makes sense to have both:

[code]

[code]

2. There are too many damn i

[2020-08-25 08:55] jnicklas commented on #183
Isn't this precisely what we've done with #178, or am I misunderstanding what you want to achieve?

[2020-08-25 09:15] jnicklas commented on #183
Ahh okay, I read this again, and I think I see what you're seeing. I don't think what you want is currently possible with TypeScript, since it would require higher kinded types, which TypeScript currently doesn't support.

This is a very stripped down version of the types currently in use, with the addition of `ChainableSubscriptionMethods` which is just there to simplify thinking about this:

[co

[2020-08-25 13:14] #143 closed

[2020-08-25 13:47] cowboyd commented on #183
Yeah, I think we have what we want with #178, but I also think that I thought I was using it improperly because I forgot to release v0.10.0

[2020-08-25 14:05] cowboyd commented on #183
Maybe we can achieve the simplification of the conceptual model just by shuffling around the names? Specifically:

`ChainableSubscription` -> `Subscription`
`Subscription` -> `SubscriptionIterator`
`Chain` -> `SubscriptionBuilder`

[2020-08-26 20:06] jbolda commented on #181
Is the expectation to run it in CircleCI?

[2020-08-26 20:17] jbolda commented on #182
In execa, it tries SIGTERM and if no response then falls back to SIGKILL.
https://github.com/sindresorhus/execa#killsignal-options

Seems to be the quickest win here. Drop in execa and if in the future more control is required, back it out with good test coverage.

<blockquote><img src="https://repository-images.githubusercontent.com/47475908/a11f9000-b3ba-11e9-97db-972f10afb149" width="48" align=

[2020-08-27 00:56] cowboyd commented on #182
@jbolda agree, let's see if we can just use execa.

[2020-08-27 14:08] cowboyd commented on #181
We run our tests on github actions, so expectation would be for them to run there. I believe @taras made a little headway getting the windows VM setup ther.

[2020-08-27 14:09] taras commented on #181
Not much headway, I thought GitHub Supports Windows server. Can we use that? Otherwise we can use CircleCI

[2020-08-27 14:59] jbolda commented on #181
Aye, it does @taras. I am way more familiar with Github Actions so I can open a PR to switch it over.

[2020-08-28 14:38] cowboyd opened #187 "Change names of subscription interfaces."
In order to tamp down the number of interfaces that you need to import and work with in order to use subscriptions, I think it will be helpful to shuffle the naming a bit, since `ChainableSubscription` is a bit of a mouthful, and it's unclear what exactly a subscription _is_ within the ecosystem. I'd like to propose renaming `ChainableSubscription` to `Subscription` since that is what is most ofte

[2020-10-05 11:05] jnicklas commented on #187
Using `SubscriptionIterator` is much better. In my `mini-effection` spike I opted for the following naming, which is another decent option, IMO.

- `Subscription` -> `OperationIterator`
- `Subsribable` -> `OperationIterable`
- `ChainableSubscription` -> `Subscription`
- `ChainableSubscribable` -> `Subscribable` (I didn't actually implement this)

[2020-10-07 16:26] cowboyd opened #198 "Cleanup build"
When wondering why there were failing checks, I looked and saw that we still had the CircleCI webhook enabled. After disabling that webhook and check, I noticed we still have a couple things to do:

1. It looks like we're doing both `branch` and `pr` builds. This is good, but shouldn't we be only doing one build per platform? Ideally we would do `branch` builds, but with the the merge commit so th

[2020-10-20 14:42] cowboyd opened #203 "promise returned by `main()`. reject on unexpected errors, resolve on expected errors"
From https://github.com/thefrontside/bigtest/pull/627

[code]

From the perspective of the `main()` operation, it would be consider a _successful_ exit when the operation either completes, or finishes with a `MainError` which indicates that the program raised the error. The only time the operation would fail would be on an unexpected error. Other things to consider:

- Don't return a raw `Context`

[2020-10-21 15:48] jnicklas commented on #203
Makes sense to me 👍

[2020-10-23 11:31] jnicklas opened #204 "Future Roadmap for Effection"
We're nearing the beta release of BigTest, and once that has settled, IMO we should also start condsidering the path forward for Effection, and how we proceed with both the current version of Effection and a possible future version.

Let's recap some of the issues of the current version of Effection, and why we might want to make some fundamental changes:

1. **Control functions:** Currently the b

[2020-10-23 15:08] cowboyd commented on #204
Thanks for kicking this off! I'm excited to start working on v2 😄

What issues do we see as blocking the v1 release? I don't think we've had any major breaking API changes in a really long time, and I don't see that there is an urgent need for it right now, so it might make sense to release v1 as-is?

I agree with the core proposal, and would like to include in the v2 plan some secondary issues /

[2020-10-27 10:10] jnicklas opened #205 "Split channel into sending and receive end"
Currently channels are defined as a single class which has both sending and receiving ability. We could view the current channel type as follows:

[code]

But what we'd really want is something like this:

[code]

So that we can split up the sending and receiving end. This is useful because we often want to hand out one "end" of the channel to someone else, yet retain control of the other end of t

[2020-10-27 10:36] jnicklas commented on #204
Very good question regarding renaming things. If we already align things towards the naming we want in v2, then we can make those changes now, and have less churn when we eventually move to v2, which will be more focused around the actual functionality, rather than naming changes.

Here are the things that I renamed in #194:

- `Context` -> `Task`: I just don't like the name `Context`, it's too ge

[2020-11-02 12:35] #183 closed, assigned to nobody

[2020-11-02 12:39] jnicklas commented on #127
I would suggest that we don't aim to fix this issue for v1, as it will probably require some pretty major changes to fix. Instead we'd leave this as a known issue for now and fix it in v2.

[2020-11-02 12:55] jnicklas commented on #118
Maybe this is mostly a question of naming? `fork` does not give any indication about the fact that it would block until completion (in fact kind of the opposite imo), maybe something like `spawnBlocking` or `spawn(..., { blocking: true })` would be clearer?

I just did a quick check how often we use `fork` in BigTest, and IMO, the most interesting usage of `fork` is in the command processor. Grant

[2020-11-02 12:59] jnicklas commented on #94
v2 will probably use async/await for the implementation, which will function sort of similarly to using a generator.

[2020-11-02 13:00] jnicklas commented on #92
This is precisely the approach we've chosen for v2.

[2020-11-02 13:01] jnicklas commented on #88
I do still think that `fork` is not a great name (see #118), but this issue and the arguments it makes are outdated. Let's focus on #118.

[2020-11-02 13:01] #88 closed

[2020-11-02 13:04] jnicklas commented on #91
I would like to discuss this again with regards to v2, there are some tradeoffs to be made which we need to decide on.

[2020-11-02 13:09] jnicklas commented on #68
Duplicate of #130

[2020-11-02 13:09] #68 closed

[2020-11-02 13:23] jnicklas opened #207 "Rename `Context`?"
One design choice that I made in mini-effection was renaming `Context` to `Task`. This aligns with [Rust's async/await](https://doc.rust-lang.org/std/task/index.html), with the [CLR `task` class](https://docs.microsoft.com/en-us/cpp/parallel/concrt/reference/task-class?view=msvc-160), and [with ember-concurrency](http://ember-concurrency.com/docs/tutorial/refactor) (somewhat).

I personally don't

[2020-11-02 14:15] cowboyd commented on #187
If we make the type of Operation recursive, then an "OperationIterator" is really just another type of operation?

[code]

[2020-11-02 15:07] jnicklas commented on #187
@cowboyd I don't think so, the same way that `AsyncIterator<T> != Iterator<Promise<T>>`, an OperationIterator is not quite an iterator over operations.

[2020-11-02 17:13] cowboyd commented on #187
I agree, but that's why I think exploring a different nomenclature is warranted. The sentence "an AsyncIterator is not an iterator over promises" is not confusing, whereas the sentence "An OperationIterator is not an iterator over operations" is.

[2020-11-03 09:20] jnicklas commented on #187
Ahh, I see, that's true.

`EffectionIterator` and `EffectionIterable` would be other options which might make sense?

[2020-11-03 09:49] jnicklas commented on #205
Investigating this a bit further, we can think about three distinct types of channels:

[code]

IMO, all three of these are valid and have their usecases, so we should probably provide all three of them? The question is what to name them, specifically the first two? And what would an API to create these look like?

Another question is how to handle `close`. How would one close a split or duplex ch

[2020-11-03 09:56] jnicklas commented on #118
Actually never mind that, the above idea of implementing `fork` as a library is not equivalent in functionality. The difference is whether or not we `halt` the child. The spawned child will always be halted when the parent is complete. Awaiting blocking children is different because we do not halt them, but rather wait for them to complete "naturally".

I think the above comment makes a good case

[2020-11-03 10:58] dagda1 commented on #207
@jnicklas I first came across `async` `await` in .NET and I actually thought `Context` in effection was an environment and not a .NET like `Task<T>` so I am definitely in favour of. the name change.

[2020-11-03 11:42] taras commented on #207
Effection's Context might be closer to React's context in concept, but I find that proximity confusing. In general, I find the use of Context in programming to be confusing. It's like Data - it's so broad that anything qualifies which leads not knowing what it actually is.

@jnicklas can you use "task" in a sentence to show an example of what explaining Effection using task would be like?

[2020-11-03 11:44] dagda1 commented on #207
I actually was thinking an `Operation<T>` was analogous to a `Task<T>` in .NET land.

[2020-11-03 13:28] jnicklas commented on #207
@dagda1 it's somewhere in between, I think. Since .Net async functions immediately start executing when invoked, what is returned from the async function is actually an object representing the currently running thread of execution. This is in contrast to e.g. Rust, where Future does nothing until it starts to be polled by a Task, which is more similar to what we are doing in Effection. I don't thi

[2020-11-03 13:30] jnicklas commented on #207
@taras it might help to take a look at the [`Task` class](https://github.com/jnicklas/mini-effection/blob/master/src/task.ts) in mini-effection, I think it is easier to understand its purpose since it does not mix in any of the responsibilities of the operation.

[2020-11-03 13:34] taras commented on #207
It sounds like in mini-effection, it's tasks and subtasks as an alternative to operations and their context. Task/sub-task is more clear and simple.

[2020-11-03 14:44] cowboyd commented on #207
I share the dislike for `Context`as being  too abstract and empty a term, but I think my biggest sticking point is that Task implies something running, which they often are, especially in a server side application, but at the same they can be a static tree of things that do little more than accumulate and manage state.

The other unresolved issue for me is what do we call the higher order ember-co

[2020-11-03 14:58] jnicklas opened #212 "Add `Queue` as a foundational primitive"
We have channels which are basically an ephemeral message bus, but what we're lacking right now is a persistent queue. This would be somewhat similar to `Mailbox` in bigtest, but with a slimmed down and simplified API.

[2020-11-03 15:00] jnicklas commented on #212
It could be used to replace the semaphore in the implementation of channels, I think?

[2020-11-06 16:13] cowboyd commented on #187
What's our equivalent of `Async` here? `Effect`? `EffectIterator`?

[2020-11-06 18:26] cowboyd commented on #205
Let's try to enumerate use-cases.

1.  You want to broadcast stuff to a bunch of places. This is where we have a single publisher, multiple subscribers. This is our basic event emitter subscription. In this case,  you have you classic channel where single publisher broadcasts messages of a single type `T`

[code]

2. You have two communication endpoints that serve as a primary connection between t

[2020-11-06 21:09] cowboyd commented on #212
Do you mean `createSubscription`? Probably

I also think we need something like a Mailbox externally too which is itself subscribable, that way you can attach a queue to a subscription and have it start collecting results before you are ready to consume them. This feels especially important when you are passing something to a "handler" operation where you cannot guarantee what happens between invo

[2020-11-07 07:50] dagda1 commented on #176
should `TReturn` not default to `void` instead of `undefined`?

I also have a pedantic request :).

I think the prefixing of types with `T` as in `TReturn` does not help readability IMHO.

Where possible we should an uppercase single letter so `R` is a better candidate than `TReturn`.

[2020-11-09 04:08] cowboyd commented on #176
This is how MS does the typing of its `Iterator` and `Iterable` class, so that's the convention that we followed. It seems to be that when you have a channel whose `R` is `void`, you can't just say `close()`, instead you have to say `close(null)` or `close(undefined)` which kinda stinks.

[2020-11-09 10:56] dagda1 commented on #176
@cowboyd I think you make a valid point that this is what is used in the `IteratorResult`.

I still prefer `R` but what you say makes sense.

You could have

[code]

But I totally understand the case now, so thanks for clearing that up.

[2020-11-09 14:58] cowboyd commented on #176
That could also work. I actually much prefer `Nothing` to `undefined`. Kinda wish `void` was an alias for that since that's what I thought it was for the longest time.

[2020-11-09 20:56] #182 closed, assigned to nobody

[2020-11-09 20:57] cowboyd commented on #181
closed by #202

[2020-11-09 20:57] #181 closed, assigned to nobody

[2020-11-10 17:03] cowboyd opened #214 "pass argv: string[] to main operation"
`@effection/node` main() is designed to implement the main method of a node process and yet we don't actually do the work of coupling to `process.argv` which has to be done manually, but in fact this is something that you invariably need to do.

Proposal, instead of

[code]

should be:

[code]

That way

[code]
becomes

[code]

[2020-11-11 13:02] #176 closed, assigned to nobody

[2020-11-12 09:38] jnicklas commented on #214
Not sure I agree with this. E.g. if you're using `yargs` it will look at `process.argv` without having to pass it in.

We could totally do this, but it feels a bit unnecessary to me. Using `process.argv` is fine, imo.

[2020-11-12 09:45] jnicklas commented on #212
I'm sort of coming around to mailboxes being kind of good.

I know … coming full circle 🤷‍♂️

When I was writing https://github.com/thefrontside/bigtest/pull/665, I ran into this where replacing the mailboxes with channels actually started introducing a bunch of race-conditions. The fact that mailboxes preserve the messages in the queue was kind of a key design consideration that we lost along the

[2020-11-12 15:07] #130 closed

[2020-11-12 15:38] cowboyd commented on #214
There are two isues: convenience and isolation. Right now, we're forcing a program to couple to a global context for argument processing. That'll always be an option, but also passing in the arguments as an argument in this way let's your operation be used in any context, for example a unit-testing context.

[2020-11-13 04:07] cowboyd commented on #212
I agree, but I think where we're better positioned is that subscription is the primitive and with that in hand, you can build a "Buffer" or "Mailbox" or "Queue" class that lets you create a stateful subscribable off of a stateless subscribable. That way, if you want to have guaranteed delivery of the same source to _two_ consumers, you can use a single channel, but two buffers so that the consumer

[2020-11-18 18:17] cowboyd opened #218 "migrate to npm v7"
Yarn 1.x development is frozen and Yarn 2 doesn't seem to have the developer experience that we're looking for. Now that npm supports workspaces natively, it feels like this is the future, and so the sooner we move there, the faster it will arrive for us.

[2021-01-28 15:30] jnicklas commented on #204
A lot of the questions surrounding the naming of things in for example `@effection/channel`. I just had a thought. Can we hit 1.0 on effection itself without shipping 1.0 of the secondary packages like channel? This way we don't have to settle on an API on these component libraries until we feel confident about them.

What do you think?

[2021-01-29 15:18] jnicklas commented on #118
So I spent some more time thinking about this, and I've come to the conclusion that `fork` is indeed sometimes useful and that implementing this *correctly* in user land is very, very difficult. There are edge cases around halting which are simply not easily handled. So I believe that `fork` should stay, but that the emphasis should be on `spawn` which should be the *normal* method to call, with `

[2021-01-29 15:53] cowboyd commented on #204
I think that makes sense. One thing that I was thinking recently while trying to walk some folks through using Effection for the first time was that in order to accomplish anything non-trivial, you have to reach for several packages and know where to look for them. `@effection/subscription`, `@effection/channel`, and `@effection/events` are foundational to almost every single effection application

[2021-01-30 05:42] cowboyd commented on #118
I wonder if we could clear up some of the confusion by not using `fork` which is an overloaded term and is pretty much synonymous with `spawn` and our assignment of what they mean in the library is arbitrary.

what if we called it something like `append()`, `include()`, or `extend()` meaning that this operation is actually part of the workload of the current operation. `spawn()` and `fork()` both

[2021-03-04 08:11] jnicklas commented on #35
This is now implemented in v2.

[2021-03-04 08:11] #35 closed

[2021-03-04 17:21] jnicklas opened #247 "Proper mocha integration"
I'd like to replace all of the hacky ad-hod `World` stuff that we have in BigTest with a more streamlined interface which allows us to interact with effection more easily in mocha tests. My first thought was to attempt to make a better version of the `World` interface, but there are a lot of problems we run into. Basically it is challenging to distinguish how and when errors should be propagated.

[2021-03-04 21:00] cowboyd commented on #247
This is exactly what the `World` was right? Might be hubris, but I think that we can accomplish this pretty smartly where every test case gets its own task, but we use the same task for all `beforeEach` blocks, the `it` block, and all `afterEach` block:

[code]

[2021-03-05 20:12] cowboyd commented on #247
Actually, this might be a case that illuminates the "fork-ish" thing that we keep chasing. We keep brushing up against the need to run an operation in the context of the current task to "extend it", or "include" this operation. It's different than a `spawn()` because it is tied to the lifetime of the current task rather a child task.

[code]

With a primitive like this, it would make the `@effecti

[2021-03-08 15:52] jnicklas opened #250 "Rethink the `fetch` API"
The current API of `@effection/fetch` is just a thin wrapper around the `fetch` API, but this API is not convenient when used within effection, especially with v2.

`fetch` is currently the only primitive in the effection library which both takes a scope AND returns an operation. Everything else does only one of these things. This creates some confusion around the scope of the request.

Current:

[2021-03-10 13:43] jnicklas opened #257 "Current Task as default argument and Task elision"
I am resurrecting an old idea to solve an old problem in a new way. This was a thought after a discussion that @cowboyd and I had yesterday around how passing in a `Task` as an argument is not intuitive.

This was the suggested new API for fetch:

[code]

What if we could write it like this:

[code]

No strange `task` variable and `createFetch` is just a regular old function!

The key to making th

[2021-03-15 08:28] #247 closed, assigned to nobody

[2021-03-15 16:28] jbolda opened #266 "pipes ignored in @effection/node `exec`"
When using `exec`, we would expect it to operate as a shell and properly consider piped commands. Passing it a string that contains a pipe effectively ignores the pipe. See below for a minimal reproduction.

In `main.js`:
[code]

In `package.json`:
[code]

When run with `node main.js` (with node@v14.16.0), the following stdout is produced:
[code]

[2021-03-15 20:19] cowboyd commented on #266
It' a bummer because it apperas that shellwords parses the `I` as just another argument:

https://runkit.com/cowboyd/shellwords-does-not-work-with-pipe

I think we may not be able to avoid spawning a separate shell. I can't remember why we didn't. Was it because it spawned another window on Windows?

<blockquote><div><strong><a href="https://runkit.com/cowboyd/shellwords-does-not-work-with-pipe">R

[2021-03-16 08:13] jnicklas commented on #266
I have a vague memory that this was to make it possible to forward signals to the child process? The shell between the processes prevents that. Also there were problems in windows. I think we should allow `shell: true` and if it is enabled we should not try and parse the command using shellwords. IMO that would be preferable to using a shell by default.

[2021-03-17 04:10] cowboyd opened #270 "Consider bringing back bare iterators as an operation"
One of the biggest differences between `v1` and `v2` is that generators are no longer an operation, only generator functions. This was done because unlike promises which only have a trinary state (pending, resolved, rejected) that once settled never changes, an iterator represents a more complex set of state and one that can be incoherent if multiple tasks are yielding to it at the same time. Prom

[2021-03-22 10:27] cowboyd opened #274 "Ability to narrow the type of a filtered stream"
If I have a discriminated union

[code]

We should be able to have some way to narrow the type of a stream with a filter:

[code]

[2021-04-07 10:19] jnicklas opened #292 "Add operation combinators"
There are a few combinators that we could add that come up sometimes which are useful. We should provide all methods available on Promise for intuitive interop:

- [x] `all`: completes when all the given operations complete, returns an array of results
- [ ] `allSettled`: like `all`, except it will not short circuit if any operation fails, and instead return an aggregate result
- [x] `race`: compl

[2021-04-07 10:43] jnicklas commented on #257
I've had some thoughts about this and how it could relate to resource-like things.

To recap: a resource is a thing which needs to spawn tasks in the background. In `v1`, this was a formalized concept with the `resource` function, which did some very dark magic to make things work. In `v2` we have opted for a simpler approach, where resources are simply functions which take a task as an argument.

[2021-04-07 10:55] jnicklas commented on #257
Maybe we can even make `spawn` accept a resource, so we can use `spawn` for both usecases? Not sure if this would actually work, but it would remove the need to understand the distinction of `use` and `spawn` at least on the consumer side:

[code]

And it makes sense in that using `spawn` without a yield does not return a resource, the only difference here is that with this form, `spawn` can alloc

[2021-04-07 11:33] cowboyd commented on #257
I like it! This is interesting. We keep circling around this idea of resources and computations being similar things. If we have an interface like `Resource` we can add things to it that will make debugging much simpler:

[code]

etc....

[2021-04-07 11:41] cowboyd commented on #257
However, in the context of free-standing functions, I'd think I'd prefer to have the scope-finding magic be "look at the parent when the operation is run" vs "look at the currently running task when the operation is created." This allows for the exact same usage when consuming, but allows for easier composition since it doesn't matter what context the operation is created in.

In either cases when

[2021-04-07 11:46] jnicklas commented on #257
I'm not quite sure what you mean by this, could you provide an example?

Yes exactly. This would be limited to when you need to create your own resource, normally. For everything else, we shouldn't need to widen the scope.

[2021-04-07 11:48] cowboyd commented on #292
I've often wanted a general operation mapping function.

Also something to consider:

a form of `all` except instead of an array, it is a hash of named promises.

[code]

I used this quite a bit and preferred it to the array form of all in `RSVP` https://github.com/tildeio/rsvp.js#hash-of-promises

They actually called the method `hash()` but I think that's confusing since a hashing function is al

[2021-04-07 12:16] cowboyd commented on #257
[code]

If the above two are equivalent and we're finding an "implicit" scope, I think I'd rather it late-bind at runtime by automatically widening to the parent. Although honestly, if we could destructure task methods, it would be nearly as convenient to say:

[code]

[2021-04-07 12:21] jnicklas commented on #257
The main reason to elide the task, is so that we eventually can get out of having to pass the task to the generator function entirely. This would enable us to do the whole `function* === async function` equivalence thing without any nasty hacks.

[2021-04-07 12:24] jnicklas commented on #257
I actually realized a problem with this:

[code]

Unfortunately, halting the task returned by `spawn` will not actually terminate all of the tasks spawned by the resource, as one might expect.

[2021-04-16 08:35] cowboyd opened #300 "Where should warning go if an exception percolates to the top."
Node has an `UnhandledPromiseRejection` warning that is spewed if you ever create a promise that rejects that isn't explicitly handled. This can be very annoying, but it is actually quite useful in that it usually means that you are dropping errors somewhere. This code for example is completely silent:

[code]

In this case, the error is propagating to the root task which is ignoring it. However,

[2021-04-20 08:04] #274 closed, assigned to nobody

[2021-04-21 13:39] cowboyd commented on #292
@jnicklas another useful one might be a `capture()` combinator for when you want to programatically deal with error cases:

[code]

[2021-04-22 11:50] jnicklas commented on #292
@cowboyd `captureError` is something we already have in the `@effection/mocha` package, and for writing tests it is extremely useful. I would be very open to moving this to core.

[2021-05-03 14:38] #270 closed, assigned to nobody

[2021-05-03 14:39] #212 closed, assigned to nobody

[2021-05-03 14:39] #207 closed, assigned to nobody

[2021-05-03 14:39] #205 closed, assigned to nobody

[2021-05-03 14:40] #187 closed, assigned to nobody

[2021-05-03 14:40] #92 closed

[2021-05-03 14:41] #127 closed

[2021-05-03 14:43] #266 closed, assigned to nobody

[2021-05-07 12:39] cowboyd commented on #250
closed by #310

[2021-05-07 12:39] #250 closed, assigned to nobody

[2021-05-08 10:58] nothingismagick opened #314 "vulnerability of handlebars via @effection/node"
Here is the dependency chain:

`@effection/node > ctrlc-windows > neon-cli > handlebars`

![image](https://user-images.githubusercontent.com/35242872/117536700-e4ca1380-affc-11eb-9c1f-3174499b43de.png)

Can you please resolve this @jbolda ?

[2021-05-08 12:55] jbolda commented on #314
I believe this PR will take care of this.
https://github.com/thefrontside/ctrlc-windows/pull/26

[2021-05-24 07:37] jnicklas commented on #292
We're still missing `allSettled`, but I question the utility of that method. Let's close this out for now.

[2021-05-24 07:37] #292 closed, assigned to nobody

[2021-05-24 07:38] #257 closed, assigned to nobody

[2021-05-24 07:38] #204 closed, assigned to jnicklas, cowboyd

[2021-05-24 13:58] #94 closed

[2021-05-24 13:58] #91 closed

[2021-05-25 23:38] cowboyd opened #329 "Effection Inspector Tree Visualizer"
## why
Debugging flow control in highly concurrent code can be difficult. Native debugger support for `async/await` makes this a bit better, but you don't have any help when it comes callback oriented code.

This is a shame because fundamentally Effection's execution model is quite simple: a tree of concurrently executing tasks, and that should be an asset when it comes to understanding. In order

[2021-05-26 13:47] jnicklas opened #332 "Add subscription/stream method to spawn for each value"
Often when writing servers, we want to loop over a subscription or stream, and handle each item in the stream. However, we normally do *not* want to block while we're processing the next item. For example, in a websocket server, all connections should be handled in *parallel*. The natural way of expressing this via `forEach` then does not work, since `forEach` processes all items in *series*. Esse

[2021-05-26 13:54] cowboyd commented on #332
My favorite of that list is `inParallel`. Other alternatives

* `parallelize(handleRequest)`
* `spawnEach(requestHandler)`
* `concurrently(handleRequest)`
* `forAll(handleRequest)`

[2021-05-26 15:09] minkimcello opened #334 "Effection Website"
## Motivation
We need API docs and guides for Effection. Jorge initialized the website in #276 and listed out some use cases, but we still have a long way to go and this issue will try to outline what needs to be done and who should be doing what.

## Approach
### Navigation Bar
![Screen Shot 2021-05-26 at 8 38 55 AM](https://user-images.githubusercontent.com/29791650/119661211-106f3b00-bdfe-11eb-

[2021-05-27 15:59] jnicklas opened #340 "Rename @effection/node to @effection/process"
After #339, the @effection/node package now only contains process management stuff. Let's give it a name which reflects that!

[2021-06-02 13:54] jnicklas opened #349 "What should happen when a controller throws during halt caused by an error?"
I ran into this edge case, where I am unsure of what the correct behaviour is:

[code]

Obviously this is going to reject, but the question is *which error* is it going to reject with? The `boom` error is the original error and therefore maybe should have preference, on the other hand the `bang` error thrown in the controller is "closer" to the task, and therefore an argument could be made that th

[2021-06-02 13:54] jnicklas commented on #349
@cowboyd would love to hear your opinion on this.

[2021-06-02 13:56] jnicklas commented on #349
Maybe this should even be its own very special case, with some kind of composite error which shows *both*?

[2021-06-02 15:36] cowboyd commented on #349
That seems really reasonable especially because this represents what is almost certainly an internally inconsistent state and you want to discourage anybody from recovering from this error. For example, if your body throws a `FetchError` which you have a catch block for because it is a condition for which you have retry logic, then you don't want the `FetchError` to "win", so that seems to rule th

[2021-06-09 21:55] cowboyd opened #358 "Non-magical resources"
In seeing how resources can be confusing, and also trying to blog about effection and trying not to explain effection without having to jump right into resources, it made me wonder if there was a way we could enhance the primitives and avoid the need for resources entirely.

Essentially, a resource is just an operation that runs in the calling scope rather than the local scope, and, to that end, r

[2021-06-09 22:20] cowboyd opened #360 "task.spawn as operation"
Working in code, and writing explainers, it's clear that whenever you `spawn`, it is safest as an operation. In fact, there is the standalone operation `spawn(operation)` and `spawn(operation).within(scope)`. But there is a cognitive dissonance between method `spawn` and operation `spawn`. Method spawn is needed for integration from outside an effection tree, but when working from within an operat

[2021-06-14 09:16] jnicklas opened #374 "How to handle closing socket connections?"
When implementing the `@effection/websocket-server`, I implemented it as a `Subscription<Connection>` where each item in the connection represents a new connection. Unfortunately this doesn't really work for a few reasons:

- There is currently no elegant way to iterate this and spawn a new task for each connection. See #332
- It is unclear when a connection should be closed from the server end. W

[2021-06-14 15:21] jnicklas opened #383 "Add workflow to generate and publish documentation"
We want to have an automated workflow which generates and uploads the documentation.

- [ ] When should this be done? On release of a new version, or for each commit?
- [ ] Should we use GitHub actions or CircleCI, since we use both on this repo
- [ ] How should the docs be hosted?
- [ ] Should we keep old versions of docs around?

[2021-06-14 16:38] minkimcello commented on #383
Jorge put together a template [here](https://deploy-preview-276--effection.netlify.app/effection/docs/use-cases/typeahead/) on Netlify. Is that what you're referring to by hosting?

Ideally we should update the website at the same time the new changes are released (when we merge the Version Packages PR created by changeset). I think we can call netlify [build hooks](https://docs.netlify.com/config

[2021-06-15 09:12] #340 closed, assigned to nobody

[2021-06-17 18:05] cowboyd commented on #374
I think that the part of the api that is right is modeling both sides of the connection as a finite subscription of messages.

* if the client closes the connection, the subscription on the server finishes
* if the server closes the connection, the subscription on the client finishes

On top of that, we need to be able to handle errors at each level of the lifecycle: tree server -> connection -> m

[2021-06-22 12:23] jnicklas commented on #214
@cowboyd given that `main` now also works in the browser, do you still feel we should do this, since there isn't really an equivalent to argv in the browser?

[2021-06-22 12:24] jnicklas commented on #118
`v2` does include a `fork` like mechanism, but it is not called `fork`. Instead it is the `blockParent` option on a task.

[2021-06-22 12:24] #118 closed

[2021-06-22 12:25] jnicklas commented on #66
I think we can close this issue, since it is somewhat out of date. We have found some nice new nomenclature and foundational primitives in `v2`.

[2021-06-22 12:25] #66 closed

[2021-06-22 12:25] jnicklas commented on #30
This is done.

[2021-06-22 12:25] #30 closed

[2021-06-22 12:27] jnicklas commented on #111
Since we're now working on the website and stuff, it feels like we should come to a conclusion here? Personally I like the original proposal. This one:

![80426936-c511f280-88b4-11ea-961a-f4b3cc2525bc](https://user-images.githubusercontent.com/134/122924369-f9bcf500-d365-11eb-8a20-eb9bc5882048.png)

It feels balanced, clean, well designed, and in line with the branding of other frontside projects.

[2021-06-22 12:28] jnicklas commented on #72
See #329

[2021-06-22 12:28] #72 closed

[2021-06-22 12:29] jnicklas commented on #198
I think this is all good now?

[2021-06-22 12:29] #198 closed, assigned to nobody

[2021-06-22 12:32] jnicklas commented on #300
The problem is that there are legit cases where percolating a failure to the root is intentional, such as when using `run(...).catch()`. It can be challenging to distinguish when it is intended and when not. `node` I assume does some trickery with promises by tracking listeners to the promise, unfortunately we don't really have that option. There are some heuristics we could do, but it seems prett

[2021-06-22 12:33] jnicklas commented on #300
And false warnings are incredibly annoying, so we should be careful with that.

[2021-06-22 12:35] jnicklas commented on #360
I'm not entirely opposed to this, it makes sense semantically, IMO.

We should be clear that this is a pretty significant API change at the 11th hour, but maybe that is justified.

We'd need to bikeshed the name of the current spawn method though. I feel like `evaluate` is confusing, it sounds like the operation is evaluated within the context of the task, which is not the case, it runs as a child

[2021-06-22 19:50] cowboyd commented on #214
We could say `[]` in the browser, but I don't feel strongly about this. I say let's not do it now since it can be a forward compatible change if we decide to do it later, but it will not be a backwards compatible change if we decide we don't want it in the future

[2021-06-22 19:50] #214 closed, assigned to nobody

[2021-06-23 16:15] cowboyd commented on #300
Agree. Let's leave this open for now, and we can have a think on it later.

[2021-06-23 17:00] cowboyd commented on #360
I'll throw together a PR today.

[2021-07-02 16:58] cowboyd opened #421 "add labels to websocket-client"

[2021-07-02 16:59] cowboyd opened #422 "add labels to websocket-server"

[2021-07-02 17:02] cowboyd opened #423 "add labels to atom operations"
somehow include the path of the slice?

`slice('foo').forEach`

[2021-07-02 17:04] cowboyd opened #424 "add labels to `@effection/process`"

[2021-07-02 17:04] cowboyd opened #425 "add labels to @effection/fetch"

[2021-07-07 18:59] cowboyd opened #428 "export fetch directly from `effection`"
It's a pain to have to select compatible versions of effection core packages that are compatible with each other. which versions of `@effection/core` support `@effection/fetch`? It's not something that most users should have to worry about, which is why we make most things available via the main `effection` package. Only in the cases where a package is completely platform specific (`@effection/pro

[2021-07-08 09:27] jorgelainfiesta commented on #111
My illustration sucks, but perhaps we can experiment with the composability concept as part of the isometric line? Like we can have the heart on plane 0, pink large piece and sky blue on plane 1, and white piece on plane 2. Or we can flatten it to two planes.

![Screenshot 2021-07-08 at 11 24 29](https://user-images.githubusercontent.com/4451393/124898005-1b151680-dfdf-11eb-8061-aca465839344.png)

[2021-07-08 10:53] minkimcello commented on #111
Yeah I see what you're saying. That's why the original logo I proposed has rounded edges. You can tell the white and blue boxes are larger than what you can see.

![Screen Shot 2021-07-08 at 6 50 42 AM](https://user-images.githubusercontent.com/29791650/124909802-e1c9b000-dfb8-11eb-8bfb-96283b01a196.png)

I don't know too much about design but I think 3d logos are hard to pull off. It should be ea

[2021-07-08 15:53] jorgelainfiesta commented on #111
Ah gotcha! then I'd go with either of these. Should we make like a poll on discord to decide? not sure how to short list the options tho. Maybe just vote among the 4 that you posted on Jun 3rd?
![Screenshot 2021-07-08 at 17 52 59](https://user-images.githubusercontent.com/4451393/124953365-60543b00-e015-11eb-9ffb-d332e943e945.png)

[2021-07-08 16:19] minkimcello commented on #111
@jorgelainfiesta I personally like the one Jonas picked. It's the most well balanced. But we should probably hear from Charles too before we post it on Discord. I think he might have an opinion on what the logo should be.

[2021-07-09 16:08] cowboyd opened #429 "Make setting `Future`s more ergonomic"
A `Future` is like a promise that resolves synchronously. It's similar to a `Maybe` interface in that the only way you can use the future value is to "unwrap" it with the `consume` method:

[code]

To consume a future asynchronously, you can just use the normal Promise methods of `then()`, `catch()`, `finally()`

This api is low-level and unlikely to change, because it's unlikely that folks will n

[2021-07-09 19:41] cowboyd commented on #111
I'm ok with that! I also like the one that you did for the docs website

<img width="152" alt="blurred effection logo" src="https://user-images.githubusercontent.com/4205/125128463-aec01300-e0c3-11eb-81e6-d5eb518d6474.png">

I know that was just a placeholder, but it's kind of awesome.

[2021-07-14 10:41] minkimcello opened #433 "Finishing the migration to covector from changesets"
Part II of #420

In order to complete the switch over to covector, we need to finish removing changesets in an orderly fashion:

## Current PRs
If they already created new changeset files in a PR, they should ~~either~~...
1. Delete the changesets files, rebase their branch, and generate covector's change files.
    - Merging PRs with covectors' change files will generate a separate covector's ver

[2021-07-24 23:38] #433 closed, assigned to nobody

[2021-07-26 15:16] minkimcello opened #449 "Style API docs"
Sort of related to #396

We need to style our API docs. I've added a base style template for typedocs _inside_ `./website/typedoc-theme/`.

[2021-07-26 15:19] minkimcello commented on #449
I think we can add the styles as a separate PR once #396 is merged and doesn't necessarily need to happen at the same time (even though it's hideous) because it's unlikely for anyone to actually see it.

[2021-07-27 16:22] #383 closed, assigned to minkimcello

[2021-07-27 19:14] cowboyd opened #457 "yarn.lock becomes out of sync with every release"
Whenever we advance version numbers, that will have a consequence of changing the contents of resolved dependencies in `yarn.lock` to the new package version numbers. This means that the version command must also recompute `yarn.lock` and include it with the pull request, otherwise, it becomes stale and on the release branch (v2 for example) running yarn after a release causes a new `yarn.lock` to

[2021-07-27 19:18] cowboyd opened #458 "fix linting warnings, make them fail build"
There are a lot of linting warnings on `v2`. We should have these be errors and fix them or turn them off.

[2021-07-28 19:04] #457 closed, assigned to minkimcello

[2021-08-10 09:14] #360 closed, assigned to nobody

[2021-08-16 08:37] jnicklas opened #485 "Error decoration fails in Firefox"
When implementing https://github.com/thefrontside/effection/pull/347, we decided on not wrapping the error, and instead creating a sort of new error object, with the same prototype and transferring all properties from the original error. The implementation of this looks like this:

https://github.com/thefrontside/effection/blob/8d827f26fbec159d5a56c6f9897131566d650194/packages/core/src/error.ts#L7

[2021-08-16 14:48] #485 closed, assigned to nobody

[2021-08-17 11:32] jnicklas commented on #332
Feeling that this is a bit of a red herring. The usecase I outlined above does not work for this usecase, since the connection needs to be scoped to a block, and closed when that block exits or errors. This is not possible with an external iteration API, and requires some kind of callback based solution. Are there other usecases for this feature? I'm feeling that there probably are, but until/unle

[2021-08-24 13:02] jnicklas commented on #429
Implemented this in #491, but we might want to hold off on merging this until all code is ported.

[2021-08-24 15:49] jnicklas commented on #358
This is essentially the same system we had in Effection pre resources, and the problem with this system is that it does not compose well. If you have two operations which use the caller and you want to use one within the other, then you have a problem. There are many ways to approach to solve that problem, but suffice to say that just accepting the caller itself is not enough to solve the problems

[2021-08-24 15:50] jnicklas commented on #329
This has now been merged, and so the basics of it are available. As such, let's close this issue and we can document further refinements separately.

[2021-08-24 15:50] #329 closed, assigned to nobody

[2021-08-24 15:51] jnicklas commented on #203
@cowboyd is this something we want to tackle for v2?

[2021-08-24 17:30] cowboyd commented on #203
Yeah, that would really clean things up, and I think it would also solve the "unhandled failure" problem we had seen before where unexpected errors get completely dropped on the floor because if `main()` returns a promise, and you don't have a catch handler, then it will get reported when an unexpected error happens.

Of course, if we just returned a promise and not a task, that would reduce the p

[2021-08-24 18:17] cowboyd commented on #332
Perhaps you're right. I've been thinking of some sort of more general API for a "spawn point" that let's you control the concurrency profile of an operation declaratively:

[code]

[code]

Then, when `scope` is halted, it just stops handling requests completely.

[2021-08-24 18:32] cowboyd commented on #332
This could also serve as a more general purpose gateway from non-effection code to effection code than a raw `run()` which currently needs to have a `task.state` check wrapped around it. For example, you could implement an autocomplete by just tweaking your spawn parameters.

[code]

[2021-08-25 08:26] #314 closed, assigned to nobody

[2021-08-25 08:26] jnicklas commented on #358
@cowboyd can we close this issue?

[2021-08-25 11:29] cowboyd commented on #358
Yes I think we can

[2021-08-25 11:29] #358 closed, assigned to nobody

[2021-08-26 01:33] cowboyd commented on #334
We have a website for Effection now right? I'm going to close this, and we can open up future issues to track work that will happen.

[2021-08-26 01:57] cowboyd opened #493 "How do you recover from errors in resources?"
We run into this situation in simulacrum where we are starting multiple servers, and allowing the port to be configured, but if multiple processes select the same port, then the server resource fails, and there isn't a really good way to recover from it, so the entire server ends up crashing.

How would you even recover from this? I can think of a couple of options. One way would be to have some o

[2021-08-26 14:33] jnicklas commented on #493
I think this is a very tricky problem.

It's worth noting that there is a current solution to this, which I would call something like a task-error-boundary. Basically, wrapping resources (or other operations) in a task creates an error boundary, allowing errors to be brought from the background to the foreground. In your example, it would look something like this:

[code]

I think it should be fai

[2021-08-26 15:29] jnicklas opened #495 "Ergonomic way of creating a resolved/rejected future"
Sometimes we want to "lift" a value into being a future. For promises, there is `Promise.resolve(123)` for this purpose. We should add a similar API for futures.

But what would this API look like? Some bike-sheddable alternatives:

- `Future.resolve(123)`
- `resolvedFuture(123)`
- `createResolvedFuture(123)`
- ???

[2021-08-27 14:45] #334 closed, assigned to jnicklas, cowboyd

[2021-08-27 16:27] jnicklas opened #501 "Link API documentation"
I think the API documentation is getting published now, but it is not linked from the website. Clicking on `API Reference` is a dead link. I'm not entirely sure how this is supposed to be fixed.

[2021-08-27 16:39] jnicklas opened #502 "Resources created through higher order operations terminate too early."
Suppose we have some operations which creates two resources, both of which take some time to `init`:

[code]

If we want to parallelize the intialization of these resources, the obvious way is to use `all`:

[code]

However, this currently does not work. `all` only works on regular operations, when used with a resource the resource gets terminated as soon as `all` is done. The same is true for oth

[2021-08-27 16:39] minkimcello commented on #501
It is broken at the moment because netlify doesn't allow double redirects

But if you get redirected _from_ effection's netlify site, it will get you to the api docs

https://effection.netlify.app/effection/docs/guides/introduction

<blockquote><img src="https://frontside.com/effection/images/meta-image.png" width="48" align="right"><div><strong><a href="https://frontside.com/effection/docs/guides

[2021-08-30 07:53] cowboyd commented on #493
🤦🏻 Of course!

I think that documenting the error boundary is a great solution in that it requires **zero** extra implementation. I was even aware of this pattern, but it was not obvious how to embed it into simulacrum.

As for supervisors, I _think_ that we can implement supervisors at the library level without the need for extending the runtime. For example, here is a naïve implementation of Erl

[2021-08-30 07:59] cowboyd commented on #495
The order in which you've listed them is the order of my personal preference. I don't particularly like APIs that are coupled to a  an object that just holds functions, but that is the convention with `Promise` and `Promise.{resolve, reject}` and since we're pulling up our API as a 1:1 replacement for `Promise`, `async/await`, any ways we can retain parallels will bind that association in people's

[2021-08-30 08:12] cowboyd commented on #501
Any ideas on how to fix this?

[2021-08-30 11:02] minkimcello commented on #501
we could try to set the redirect for the api on frontside.com repo instead of effection

[2021-08-30 11:18] minkimcello commented on #501
@cowboyd I'm talking to @jorgelainfiesta about how we can fix this. I had [this](https://github.com/thefrontside/frontside.com/pull/147) PR created but it looks like we need to fiddle with the configs on the effection website a bit to complete the fix?

[2021-08-30 15:06] minkimcello commented on #501
https://frontside.com/effection/docs/guides/introduction

if you click `API` from that link, you'll see this has been fixed. looks like the styling still needs to be tweaked

<blockquote><img src="https://frontside.com/effection/images/meta-image.png" width="48" align="right"><div><strong><a href="https://frontside.com/effection/docs/guides/introduction">Introduction | Effection</a></strong></div>

[2021-08-30 23:51] minkimcello commented on #501
Closing because it's been fixed via #504 and #505

[2021-08-30 23:51] #501 closed, assigned to jorgelainfiesta, minkimcello

[2021-09-03 13:25] #428 closed, assigned to nobody

[2021-09-04 13:11] #424 closed, assigned to jbolda

[2021-09-06 07:50] #425 closed, assigned to nobody

[2021-09-06 08:20] jnicklas commented on #349
I just looked into this, and it's very, very tricky to implement correctly, which leads me to think that it's probably not worth it. I think the added complexity is not justified for this.

[2021-09-06 08:23] jnicklas commented on #203
Hmm, this is actually a pretty significant downside, IMO. I've actually used the fact that main returns a task from time to time. For example with our `toString` debugging, it's pretty useful.

[2021-09-07 09:51] jnicklas commented on #449
The styles we have now are good enough, let's close this!

[2021-09-07 09:51] #449 closed, assigned to jorgelainfiesta

[2021-09-07 09:51] #423 closed, assigned to nobody

[2021-09-07 09:57] jnicklas opened #514 "Remove deprecated `once` on atom"
We should remove this before the release of `v2`

[2021-09-07 11:28] jnicklas opened #517 "@effection/duplex-channel is not published"
We added a new package @effection/duplex-channel, but it is not getting published on npm.

[2021-09-07 12:17] cowboyd commented on #349
I'm ok punting on this one 👍🏻

[2021-09-07 12:17] #349 closed, assigned to jnicklas, cowboyd

[2021-09-07 12:43] #203 closed, assigned to nobody

[2021-09-08 14:03] #429 closed, assigned to nobody

[2021-09-09 08:02] #517 closed, assigned to jbolda

[2021-09-09 08:11] #495 closed, assigned to nobody

[2021-09-10 13:38] #514 closed, assigned to nobody

[2021-09-15 10:45] cowboyd opened #535 "Cannot catch errors raised from inside Resource.init() operation"
If an exception happens in the `init()` operation of a resource, then
that exception cannot be caught from within the operation that is
calling for the initialization. In otherwords, since `init()` is being
yielded to, the intuition is that you can catch errors happening
there. However, the following script fails with a `catch me if you can`

[code]

Unfortunately, the workaround is very messy bec

[2021-09-21 10:05] #535 closed, assigned to nobody

[2021-09-21 10:28] #493 closed, assigned to nobody

[2021-09-21 10:59] #502 closed, assigned to nobody

[2021-09-28 09:18] jnicklas opened #548 "Deprecate resolutions"
We don't really need resolutions anymore now that we have futures, we should deprecate them.

[2021-09-29 11:33] #548 closed, assigned to nobody

[2021-10-04 13:13] jnicklas opened #569 "Should Stream and WritableStream have an operational send?"
Currently the [`Writable`](https://github.com/thefrontside/effection/blob/3805e41aef9f1b52c4981a5ed658a751f6771b06/packages/stream/src/writable-stream.ts) and [`WritableStream`](https://github.com/thefrontside/effection/blob/3805e41aef9f1b52c4981a5ed658a751f6771b06/packages/stream/src/writable-stream.ts#L7) types have `send` be a synchronous method:

https://github.com/thefrontside/effection/blob/

[2021-10-05 11:27] jnicklas commented on #569
@cowboyd and I discussed several options during our meeting this morning. Unfortunately none of them are super great. The ideal solution would be to make everything go through operations, but this would incurr major breaking changes everywhere, and it's unclear if this is worth it. Unfortunately in the great tradition of red and blue functions, turning `send` into an operation seems to infect a lo

[2021-10-08 08:43] jnicklas commented on #111
Another week with no decision on this. I have no idea if I have the authority to do this, but I'm tired of waiting for this, so I'm just deciding that this is the logo for Effection:

![122924369-f9bcf500-d365-11eb-8a20-eb9bc5882048-2](https://user-images.githubusercontent.com/134/136526084-7a017797-299d-4b8e-af0a-93c4165d81b0.png)

[2021-10-08 08:43] #111 closed

[2021-10-08 08:47] jnicklas commented on #569
After discussing this with @cowboyd and @taras again, and doing an experimental implementation of switching to an operation send in #570, we have decided to postpone this change indefinitely. The status-quo is fine, and we don't want to let perfect be the enemy of good.

[2021-10-11 14:09] #569 closed, assigned to nobody

[2021-10-13 06:40] cowboyd opened #579 "Add guide on working with Effection and TypeScript"
One of the gaps in Effection is that it has some idiosyncrasies in working with TypeScript. In particular with the way TS handles generators, there is no way for the right hand side of a `yield` expression to influence the inferred type of the left hand side. As a result, you need to explicitly annotate your intermediate values, otherwise TS infers them as being of type `any`

[code]

This can be

[2021-10-13 07:37] jorgelainfiesta commented on #579
I see. What would be required for TS to be able to infer the type correctly from the yield statement?

[2021-10-13 07:57] cowboyd commented on #579
It would require a new release of TypeScript, but given the response from one of the folks on the core team, they are still not sure how to approach it yet https://github.com/microsoft/TypeScript/issues/38534#issuecomment-650467285

[2021-10-13 08:05] cowboyd commented on #579
See also https://github.com/microsoft/TypeScript/issues/36967

I also have a prototype of Effection that works with TypeScript out of the box: https://github.com/cowboyd/nano but it is only a very recent discovery, and would imply some pretty major breaking changes, and so we reasonably wouldn't be able to leverage it for at least a year.

[2021-10-14 08:12] jnicklas opened #580 "Add equivalent to `ensure` which runs on error"
We have `ensure` which always run on shutdown of a task, but sometimes it's useful to attach an operation which runs only on error, and not on success. We should bikeshed the name of such an operation and add it to core.

[2021-10-14 08:47] jorgelainfiesta commented on #579
Gotcha thanks, I was asking to figure out the way of explaining the limitation in the guides.

[2021-11-11 12:03] cowboyd opened #589 "Add `AbortSignal` resource"
[AbortSignal](https://developer.mozilla.org/en-US/docs/Web/API/AbortSignal) is a standard JavaScript mechanism for signalling cancellation. In fact, we use it inside `@effection/fetch`. However, for integration with _any_ 3rd party library that uses abort signals as native `fetch()` does, it would be really nice to have the ability to quickly create an abort signal that is tied to the current task

[2021-11-11 13:00] taras commented on #589
@cowboyd  can you write the docs for this before implementation so it gets done right away?

[2021-11-11 17:09] getify opened #590 "Confusion in docs on setting function name as label"
In [this section](https://frontside.com/effection/docs/guides/labels#function-names) of the API docs, the following is said:

[code]

If I was understanding correctly, I would have expected this instead:

[code]

IOW, I was expecting the exported "normal function" to actually run the inner generator (to actually return the iterator), so that calling the outer "normal function" was effectively the

[2021-11-11 20:43] cowboyd commented on #589
There's the matter of the typedocs and the guides. Here's the typedoc:

[code]

@jnicklas where do you think this should slot into the guides?

[2021-11-13 11:37] jnicklas commented on #590
Ah, I see, this may not be entirely clear. Thanks for reporting!

We support both `Generator` and `GeneratorFunction` as an operation. When you have a generator function like this:

[code]

Both of these are valid ways of running them with Effection:

[code]

We experimented a bit back and forth with this, and eventually found that allowing both is the easiest and most flexible.

Unfortunately, in

[2021-11-13 11:40] jnicklas commented on #589
@cowboyd I think the most natural place would be in the lifecycle guide, just after `ensure` https://frontside.com/effection/docs/guides/lifecycle#ensure

<blockquote><img src="https://frontside.com/effection/images/meta-effection.png" width="48" align="right"><div><strong><a href="https://frontside.com/effection/docs/guides/lifecycle">Task Lifecycle | Effection</a></strong></div><div>We have talk

[2021-11-15 07:25] cowboyd commented on #590
As a further refinement. _Any_ function that returns an operation is itself an operation (not just a generator function). Async functions are also operations. The reason for this is that it is the mechanism to capture a refererence to the currently running task as it is passed in as the argument to the function.

For example, `task => task => task => function*(task) {}` is also a valid operation.

[2021-11-17 07:46] cowboyd commented on #589
I can add the section to the guides once we have the new version merged, but I don't think this should hold up implementation.

@minkimcello  I think this is ready to go 👍🏻

[2021-11-17 12:28] minkimcello commented on #589
Shouldn't we add the docs at the same time it's implemented?

[2021-11-17 13:05] cowboyd commented on #589
I will add the docs to the guides, yes, but it shouldn't block the implementation. I can add them to your PR so they go in at the same time. For the actual code, the Typedoc is provided above.

[2021-11-30 12:11] #589 closed, assigned to minkimcello

[2022-01-07 11:13] cowboyd commented on #579
Closed by #599

[2022-01-07 11:13] #579 closed, assigned to jnicklas, cowboyd, jorgelainfiesta

[2022-01-24 10:03] cowboyd opened #607 "Update @effection/fetch to depend on `cross-fetch ^3.1.5`"
There's a SEC issue with the version of `cross-fetch` we're using https://github.com/lquixada/cross-fetch/pull/124

We need to upgrade. At the same time, there is no need for us to depend directly on `node-fetch` since that is specified in the `cross-fetch` dependency.

[2022-01-24 15:30] cowboyd commented on #580
We can re-open this if we have a feature request for it.

[2022-01-24 15:30] #580 closed, assigned to nobody

[2022-01-24 15:31] cowboyd commented on #458
It looks like these have been fixed.

[2022-01-24 15:31] #458 closed, assigned to nobody

[2022-01-24 15:35] cowboyd commented on #332
This will be provided by `TaskGroup` whenever that lands.

[2022-01-24 15:35] #332 closed, assigned to nobody

[2022-01-25 15:02] #607 closed, assigned to minkimcello

[2022-01-29 17:57] laverdet opened #618 "Future<T> type improvements"
I recommend adding an overload in `Future` like this: `resolve(): Future<void>;`

This will make it so that `Future.resolve()` is a valid invocation which returns a `Future<void>`.

Additionally, the default type on the `Future.halt<T>` generic should be changed to `never`. This can be demonstrated with this quick example:
[code]

This will make it so that the return value of this function is `Fut

[2022-01-31 09:59] cowboyd commented on #618
@laverdet Thanks for reporting!

It should be  safe to add the overload to `Future.resolve()` since it is currently impossible to call `Future.resolve()` without saying `Future.resolve<void>()` right? As far as I can tell, all existing code should still work.

However, the change to `Future.halt()` would have to wait for v3. I'm hoping to create a roadmap for effection in the next couple of weeks

[2022-06-14 09:12] cowboyd opened #651 "Use `name` label in effection stack trace"
Paring with @ravloony on his file downloader, he wanted to get a unique identifier in the Effection stack to clearly mark the frame. However, the stack trace just printed `labels: [Object object]`

As elsewhere, we should treat the name label specially, and also see if there is a way to print a summary of the object without going overboard if it happens to be large.

[2022-06-29 09:35] shamrin opened #653 "Typo in collections documentation"
Typo:

https://github.com/thefrontside/effection/blob/b904213de729a2964deb9d4c07dbce2d01f2bb50/website/docs/guides/collections.md?plain=1#L169

Should it be something like this instead?

[code]

[2022-06-29 11:58] shamrin opened #654 "How production-ready Effection is?"
Thank you for the great framework! Structured Concurrency is a must for complicated concurrent applications. I had a lot of fun [experimenting with Trio](https://github.com/shamrin/sitewatch/blob/main/sitewatch/__init__.py) in the past.

How production-ready do you consider Effection to be? Specifically:

1. What kind of apps it was tested on?
2. What are the known limitations and drawbacks?
3. Wh

[2022-07-01 09:11] cowboyd commented on #654
Hi there @shamrin! We agree, and can measure time in the era before and after we discovered structured concurrency.

We consider Effection to be production ready for our applications. We originally developed it for writing [BigTest](https://frontside.com/bigtest) (I don't see how it would have been possible without it), and then we migrated [Interactors](https://frontside.com/interactors) over to

[2022-07-11 15:50] cowboyd commented on #654
I'm going to marked this as answered. Let me know if you have any other questions, or feel free to stop by our [discord](https://discord.gg/r6AvtnU)

[2022-07-11 15:50] #654 closed, assigned to nobody

[2022-07-13 13:58] jnicklas commented on #653
Yes, that looks like a typo.

[2022-07-14 14:20] cowboyd opened #657 "Include a portion of process output in a failed `process.expect()`"
When you use `exec().expect()` and it fails, usually the most helpful thing is to see `stdout` to see what the program itself thought about why it was failing. However, all you get are the exit code and the environment in the error message, and not any output. As a result it can be difficult to diagnose.

see https://github.com/thefrontside/effection/blob/v2/packages/process/src/exec/posix.ts#L26-

[2022-07-14 14:46] taras commented on #657
@cowboyd so we do need to add stderr to error that's omitted? What about stdout? Also, the link doesn't work

[2022-07-19 12:56] cowboyd commented on #657
I think so, yes… maybe the last 25 lines of each?

[2022-07-21 17:47] cowboyd commented on #653
closed by #655

[2022-07-21 17:47] #653 closed, assigned to nobody

[2022-09-10 20:39] kovan opened #662 "Exception has occurred: Error: halted"
Hi. I am new to Effection. I am trying to port a piece of code from Python to Javascript + Effection.

When running the code Visual Studio Code debugger with the option "Pause on uncaught exceptions", I get a exception that I don't know where it comes from:

The line within Effection that raises the exeption is:
[code]
I can't say much more. I have no idea of what part of my code is causing this,

[2022-09-11 14:50] cowboyd commented on #662
I can answer more on this later, but yes, this is normal behavior. The reason is because Effection Tasks, while not promises themselves can be consumed as promises. If you consume it as a promise, however, we need to let consumers know that a value will never be arriving because it the task was halted. As a result, whenever a Task is halted, its associated Promise is rejected. Again, you only see

[2022-09-12 14:14] cowboyd commented on #662
@kovan Would you mind posting your code that is using Effection? Because the promise is only created if someone is calling `then()`, `catch()`, or `finally()` on a `Task`, which means that someone is consuming the task as a promise.

[2022-09-12 14:53] kovan commented on #662
Sure, this is the code:

[code]

And here is the package.json, in case you want to run it:

[code]

[2022-09-12 15:29] cowboyd commented on #662
@kowan One thing I noted is that in most cases, you do not need to call `spawn()`. `spawn()` should only be used for code that you want to run _asynchronously_. For example, the code where you get your result:

[code]

`result` is `Task` that will eventually return the result you want. In order to get the actual result from the task, you would say:

[code]

However, you can just skip the spawn and

[2022-09-12 15:57] kovan commented on #662
Now it doesn't happen anymore. Also, I was wondering how to wait for the spawn() calls. So two issues solved at once! thank you.

As we said the behavior is a bit(a lot) obscure, but now it works for me and I understand why, so I'm happy.

See ya!

[2022-09-12 15:57] #662 closed, assigned to nobody

[2022-09-29 18:04] cowboyd opened #675 "Adding Effection backtrace to `DOMException` results in an error that cannot be read"
In our `addTrace()` function which appends the backtrace of logical operations to an error (as opposed to just the call stack which can be misleading) in order to be minimally invasive, rather that mutating the original error, we create a new error that has the original error as its prototype, and then raise that. This works just fine in many cases, however, in the case of a `DOMException` it fail

[2022-09-30 13:00] cowboyd commented on #675
There are a couple of strategies here that we could employ:

1. Just mutate the existing exception by adding the property.
2. explicitly delegate the `name`, `message`, and `code` properties of the existing exception.

[2022-10-05 21:58] #675 closed, assigned to nobody